{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
		
		<h4 class="card-title mt-2 text-center">Blood Donation Request</h4>
		
		<div class="container">
			{% if donation_request %}
			<div class="row">

				{% for request in donation_request %}
				<div class="col-lg col-md">
			

				<div class="search_card card " style="max-width: 500px;">
				<article class="card-body mx-auto" style="max-width: 400px;">
					

					<h2 class="blood_group_card"> {{ request.blood_group }} </h2>
					<br>

					<p class="user_blood_request_info">
						Country: {{ request.country }} <br>
						Location: {{ request.location1 }} 
						{% if request.location2 %}
							, {{ request.location2 }}
						{% endif %}
						<br>
						Phone: {{ request.phone_number }} <br>
						Required On : {{ request.required_on }}
						<br><br>

						<button href="#" type="btn" class="btn-primary">Donate</button>
						
					
					</p>
				</article>
				</div> <!-- card.// -->

			</div>
			{% endfor %}




		</div>
		
		{% endif %}
		{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}
	</div>
				<!--container end.//-->









{% endblock %}